/* Core */

h1 {
  font-size: 40px;
}

h2 {
  font-size: 35px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 25px;
}

h5 {
  font-size: 20px;
}

h6 {
  font-size: 18px;
}

body {
  font-family: "Times New Roman";
}

/* Header */

.one {
  z-index: 1;
  padding-bottom: 50px;
}

nav .socials {
  flex-flow: initial;
  gap: 0.25em;
}

nav .socials a {
  padding: 0.5em;
}

.WBC {
  height: 50px;
  width: auto;
}

.navbar-expand-lg .navbar-collapse {
  grid-template-columns: 1fr auto;
  place-items: center;
  justify-items: end;
  gap: 0.5em;
}

.navbar-expand-lg .navbar-collapse.show {
  display: grid !important;
}

nav ul.navbar-nav:last-child {
  grid-column: span 2;
  justify-self: end;
  column-gap: 30px;
}

.navbar .nav-link {
  color: #fff;
  font-size: 1.2rem;
}

.navbar {
  padding: 2% 0% 8% 0%;
  height: 300px;
}

/* Search Bar */

.search {
  display: flex;
  padding-right: 10px;
  padding-left: 0px;
}

.search-button {
  background-color: #000;
  border: 0;
  outline: none;
  padding-right: 14px;
  padding-left: 0px;
}

::placeholder {
  color: #fff;
}

.search-bar input {
  background-color: #000;
  border: 0;
  outline: none;
  height: auto;
  width: 170px;
}

.white-line {
  width: 210px;
  padding-top: 5px;
  border-bottom: 1px solid #fff;
}

/* Carousel */

.carousel-inner {
  position: relative;
  overflow: inherit;
  padding-bottom: 3rem;
}

.carousel-control-prev {
  width: 30px;
  height: 85px;
  left: unset !important;
  top: unset !important;
  right: 15px;
  bottom: -37px;
  margin-right: 2.5rem;
}

.carousel-control-next {
  width: 30px;
  height: 85px;
  left: unset !important;
  top: unset !important;
  right: -40px;
  bottom: -37px;
  margin-right: 2.5rem;
}

.carousel-control-prev img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.carousel-control-next img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: #000;
}

/* Z-index */

.two {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 170px;
}

/* Black text swap */

.carousel-inner {
  position: relative;
}

.black-block {
  width: 900px;
  height: 200px;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: -100px;
  left: 100px;
}

.black-block-text {
  width: auto;
  height: auto;
  color: #fff;
  padding: 10%;
  margin: 0;
}

/*Cards*/

.rule-center-container {
  position: absolute;
  top: 1050px;
  left: 121px;
}

.card-body {
  display: flex;
  flex-direction: column;
  padding: 0px !important;
  width: auto;
}

.card-text {
  padding-bottom: 07px;
}

.card-button {
  width: 120px !important;
  height: 45px !important;
  border-radius: 0 !important;
  margin-top: 15px;
}

.card-button:hover {
  background-color: #000;
}

/* Right containers */

.list-info p {
  margin: 0px;
  padding: 0px;
}

/* Grey lines */

.grey-line-info {
  margin: 35px 0px 35px 0px;
  border-bottom: 1px solid #ddd;
}

.grey-line-bottom {
  margin: 35px 0px 35px 0px !important;
  padding: 0px !important;
  border-bottom: 1px solid #ddd;
}

.grey-line-all {
  position: relative;
  top: -20px;
  border-bottom: 1px solid #ddd;
}

/* Media Queries */

/* nav .navbar-brand img {
  --target-width: 50vw;
  width: clamp(15em, var(--target-width), 30em);
}

@media (min-width: 992px) {
  nav .navbar-brand img {
    --target-width: 30vw;
  }
} */

@media (min-width: 1400px) {
  .navbar-expand-lg .navbar-collapse {
    display: grid !important;
  }
}

@media (min-width: 1500px) {
  .container,
  .container-fluid,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1500px;
  }
}
